$icons: (
  gzb_car: '\e92e',
  gzb_bike: '\e92f',
  gzb_brochure: '\e983',
  gzb_cantine: '\e984',
  gzb_project_idea: '\e985',
  gzb_breakfast: '\e986',
  gzb_media_library: '\e987',
  gzb_employee: '\e988',
  gzb_lunch: '\e989',
  gzb_patent: '\e98a',
  gzb_patente_per_year: '\e98b',
  gzb_patentfamily: '\e98c',
  gzb_pause: '\e98d',
  gzb_book_hours: '\e98e',
  gzb_tez: '\e98f',
  gzb_sales: '\e990',
  gzb_basics: '\e991',
  gzb_individual: '\e992',
  gzb_machine-c: '\e993',
  gzb_machine-nw: '\e994',
  gzb_overview: '\e995',
  gzb_machine-s: '\e996',
  gzb_machine-t: '\e997',
  gzb_machine-w: '\e998',
  my-account: '\e954',
  shopping-cart: '\e955',
  watchlist: '\e956',
  chevron-20x20: '\e951',
  arrow-petrol: '\e94f',
  gzb_add-1: '\e900',
  gzb_add-user: '\e901',
  gzb_add: '\e902',
  gzb_alarm-off: '\e904',
  gzb_alarm-on: '\e903',
  gzb_arrow-right-small: '\e957',
  gzb_arrow-right: '\e958',
  gzb_barcode-1: '\e959',
  gzb_barcode: '\e95a',
  gzb_bookmark: '\e905',
  gzb_calendar-1: '\e906',
  gzb_callback: '\e95b',
  gzb_cancel: '\e907',
  gzb_change: '\e95c',
  gzb_chart-bar: '\e95d',
  gzb_chart-line: '\e95e',
  gzb_chart-pie: '\e95f',
  gzb_circle_data: '\e960',
  gzb_check_single: '\e908',
  gzb_check: '\e909',
  gzb_close: '\e952',
  gzb_close-big: '\e961',
  gzb_clock: '\e962',
  gzb_cloud-off: '\e90a',
  gzb_coding: '\e90b',
  gzb_compare: '\e90c',
  gzb_copy: '\e90d',
  gzb_credit-card: '\e963',
  gzb_crown: '\e964',
  gzb_deliver: '\e965',
  gzb_document-1: '\e90e',
  gzb_document-2: '\e90f',
  gzb_document: '\e910',
  gzb_done: '\e911',
  gzb_dots: '\e966',
  gzb_download: '\e912',
  gzb_duplicated: '\e913',
  gzb_easy-order: '\e967',
  gzb_edit-1: '\e914',
  gzb_envelope: '\e915',
  gzb_exit: '\e916',
  gzb_expand-1: '\e917',
  gzb_expand-2: '\e918',
  gzb_expand: '\e919',
  gzb_fax: '\e968',
  gzb_file-1: '\e91a',
  gzb_file-2: '\e91b',
  gzb_file: '\e91c',
  gzb_highlighter: '\e91d',
  gzb_home: '\e969',
  gzb_inbox-1: '\e91e',
  gzb_inbox-2: '\e91f',
  gzb_inbox-3: '\e920',
  gzb_inbox: '\e921',
  gzb_info: '\e96a',
  gzb_invisible: '\e922',
  gzb_job: '\e96b',
  gzb_levels: '\e923',
  gzb_link: '\e96c',
  gzb_location_add: '\e924',
  gzb_location: '\e925',
  gzb_locked: '\e946',
  gzb_machine-circularknitting: '\e96d',
  gzb_machine-flatknitting: '\e96e',
  gzb_machine-legwear: '\e96f',
  gzb_machine-warpknitting: '\e970',
  gzb_machinery: '\e971',
  gzb_main-menu: '\e92d',
  gzb_microphone: '\e972',
  gzb_minus: '\e973',
  gzb_new-view-1: '\e926',
  gzb_new-view-2: '\e927',
  gzb_note: '\e928',
  gzb_package: '\e974',
  gzb_paper-clip: '\e929',
  gzb_partly-delivered: '\e975',
  gzb_pdf: '\e92a',
  gzb_photo-camera: '\e92b',
  gzb_percent: '\e948',
  gzb_picture: '\e92c',
  gzb_play-button: '\e930',
  gzb_plus: '\e931',
  gzb_print: '\e932',
  gzb_productcatalog: '\e976',
  gzb_productcatalog-2: '\e977',
  gzb_question: '\e933',
  gzb_refresh: '\e934',
  gzb_reload: '\e935',
  gzb_resize-1: '\e936',
  gzb_rocket: '\e978',
  gzb_ruler: '\e953',
  gzb_save: '\e937',
  gzb_search: '\e938',
  gzb_search_2: '\e950',
  gzb_service_headset: '\e979',
  gzb_settings: '\e939',
  gzb_share: '\e97a',
  gzb_shopping-cart-3: '\e93a',
  gzb_shopping-cart-empty: '\e97b',
  gzb_shopping-cart: '\e93b',
  gzb_speech-bubble-1: '\e93c',
  gzb_speech-bubble: '\e93d',
  gzb_star_filled: '\e93e',
  gzb_star: '\e93f',
  gzb_stretch: '\e940',
  gzb_tag: '\e941',
  gzb_telephone: '\e97c',
  gzb_time: '\e97d',
  gzb_trash: '\e942',
  gzb_undo: '\e97e',
  gzb_unlocked: '\e943',
  gzb_upload: '\e944',
  gzb_user-circle: '\e97f',
  gzb_user-history: '\e980',
  gzb_user: '\e981',
  gzb_visible: '\e945',
  gzb_warning_square: '\e94d',
  gzb_warning: '\e949',
  gzb_watchlist: '\e94a',
  gzb_world: '\e982',
  gzb_zoom-out: '\e94b',
  gzb_zoom: '\e94c'
);

.icon {
  color: color(secondary);

  @each $name, $content in $icons {
    &-#{$name}:before {
      content: $content;
    }
  }
}
