doctype html
include mixins/preview.pug
html
  include include/head
  body
    .reveal
      .slides
        img.logo(src="images/logo.svg")
        include ../slides/index.pug
    include include/scripts
