// <reference path="../global.scss" />
// Color Theme
$colors: (
  background: #ffffff,
  primary: #004f23,
  secondary: #007298,
  tertiary: #bfb800,
  primary-contrast: #ffffff,
  secondary-contrast: #ffffff,
  tertiary-contrast: #232323,
  gray: #636363,
  gray-lighter: #f6f6f6,
  gray-light-medium: #efefef,
  gray-light: #e8e8e8,
  gray-medium-light: #dadada,
  gray-medium: #c2c2c2,
  gray-medium-darker: #9d9d9d,
  shadow: rgb(0, 0, 0),
  blue: #007298,
  error: #d1050c,
  success: #004f23,
  info: #007298,
  warn: #bfb800,
  text: #1c242e,
  flowtext: #393e46,
  overlay: rgba(0, 0, 0, 0.6),
  hover: rgba(0, 0, 0, 0.08),
  selection: rgba(0, 0, 0, 0.6),
  background-gray: #f3f3f3,
  code-bg: #282c34,
  code-text: #bbbbbb,
  code-purple: #d55fde,
  code-error: #f44747,
  code-coral: #ef596f,
  code-whiskey: #d19a66,
  code-chalky: #e5c07b,
  code-lightDark: #7f848e,
  code-dark: #5c6370,
  code-malibu: #61afef,
  code-green: #89ca78,
  code-fountainBlue: #2bbac5,
  code-invalid: #ffffff,
  code-lightWhite: #bbbbbb,
  code-activityBar_background: #282c34,
  code-activityBar_foreground: #d7dae0,
  code-activityBarBadge_background: #4d78cc,
  code-activityBarBadge_foreground: #f8fafd,
  code-badge_background: #282c34,
  code-button_background: #404754,
  code-debugToolBar_background: #21252b,
  code-diffEditor_insertedTextBackground: #00809b33,
  code-dropdown_background: #21252b,
  code-dropdown_border: #21252b,
  code-editor_background: #282c34,
  code-editorError_foreground: #c24038,
  code-editorIndentGuide_activeBackground: #c8c8c859,
  code-editorMarkerNavigation_background: #21252b,
  code-editorRuler_foreground: #abb2bf26,
  code-editor_lineHighlightBackground: #2c313c,
  code-editor_selectionBackground: #67769660,
  code-editor_selectionHighlightBackground: #ffffff10,
  code-editor_selectionHighlightBorder: #ddd,
  code-editorCursor_background: #ffffffc9,
  code-editorCursor_foreground: #528bff,
  code-editorBracketMatch_border: #515a6b,
  code-editorBracketMatch_background: #515a6b,
  code-editor_findMatchBackground: #42557b,
  code-editor_findMatchBorder: #457dff,
  code-editor_findMatchHighlightBackground: #314365,
  code-editor_wordHighlightBackground: #484e5b,
  code-editor_wordHighlightBorder: #7f848e,
  code-editor_wordHighlightStrongBackground: #abb2bf26,
  code-editor_wordHighlightStrongBorder: #7f848e,
  code-editorGroup_background: #181a1f,
  code-editorGroup_border: #181a1f,
  code-editorGroupHeader_tabsBackground: #21252b,
  code-editorIndentGuide_background: #3b4048,
  code-editorLineNumber_foreground: #495162,
  code-editorActiveLineNumber_foreground: #737984,
  code-editorWhitespace_foreground: #3b4048,
  code-editorHoverWidget_background: #21252b,
  code-editorHoverWidget_border: #181a1f,
  code-editorSuggestWidget_background: #21252b,
  code-editorSuggestWidget_border: #181a1f,
  code-editorSuggestWidget_selectedBackground: #2c313a,
  code-editorWidget_background: #21252b,
  code-focusBorder: #464646,
  code-input_background: #1d1f23,
  code-list_activeSelectionBackground: #2c313a,
  code-list_activeSelectionForeground: #d7dae0,
  code-list_focusBackground: #383e4a,
  code-list_hoverBackground: #292d35,
  code-list_highlightForeground: #c5c5c5,
  code-list_inactiveSelectionBackground: #2c313a,
  code-list_inactiveSelectionForeground: #d7dae0,
  code-peekViewEditor_matchHighlightBackground: #29244b,
  code-scrollbarSlider_background: #4e566660,
  code-scrollbarSlider_activeBackground: #747d9180,
  code-scrollbarSlider_hoverBackground: #5a637580,
  code-sideBar_background: #21252b,
  code-sideBarSectionHeader_background: #282c34,
  code-statusBar_background: #21252b,
  code-statusBar_foreground: #9da5b4,
  code-statusBarItem_hoverBackground: #2c313a,
  code-statusBar_noFolderBackground: #21252b,
  code-statusBar_debuggingBackground: #7e0097,
  code-statusBar_debuggingBorder: #66017a,
  code-statusBar_debuggingForeground: #ffffff,
  code-tab_activeBackground: #282c34,
  code-tab_border: #181a1f,
  code-tab_inactiveBackground: #21252b,
  code-tab_hoverBackground: #323842,
  code-tab_unfocusedHoverBackground: #323842,
  code-terminal_foreground: #c8c8c8,
  code-terminal_ansiBlack: #2d3139,
  code-terminal_ansiBlue: #61afef,
  code-terminal_ansiGreen: #98c379,
  code-terminal_ansiYellow: #e5c07b,
  code-terminal_ansiCyan: #56b6c2,
  code-terminal_ansiMagenta: #c678dd,
  code-terminal_ansiRed: #e06c75,
  code-terminal_ansiWhite: #d7dae0,
  code-terminal_ansiBrightBlack: #7f848e,
  code-terminal_ansiBrightBlue: #528bff,
  code-terminal_ansiBrightGreen: #98c379,
  code-terminal_ansiBrightYellow: #e5c07b,
  code-terminal_ansiBrightCyan: #56b6c2,
  code-terminal_ansiBrightMagenta: #7e0097,
  code-terminal_ansiBrightRed: #f44747,
  code-terminal_ansiBrightWhite: #d7dae0,
  code-titleBar_activeBackground: #282c34,
  code-titleBar_activeForeground: #9da5b4,
  code-titleBar_inactiveBackground: #21252b,
  code-titleBar_inactiveForeground: #6b717d,
  code-textLink_foreground: #61afef,
);

$contrasts: (
  primary: #fff,
  secondary: #fff,
  tertiary: map-get($colors, text),
);

$z-layers: (
  header: 1000,
);
