head
  meta(charset="UTF-8")
  title Bachelor Presi
  meta(name="description" content="Präsentation zur Bachelor-Thesis")
  meta(name="author" content="Florian Lubitz")
  meta(property="og:type" content="website")
  meta(property="og:description" content="Präsentation zur Bachelor-Thesis")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.min.css")
  <link rel="shortcut icon" href="./img/favicon.ico">
  //- link(rel="stylesheet", type="text/css", href="css/theme.min.css")
