script(src="js/vendor/head.min.js", type="application/javascript")
script(src="js/vendor/reveal.js", type="application/javascript")
script(src="js/reveal.js", type="application/javascript")
script(type="text/javascript", async, src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML")
script(src="js/main.js", type="application/javascript")
